.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.home-texto {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
}

.home-container h1 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #6d28d9;
}

.home-container p,
.home-container span {
  margin-top: 0;
  color: black;
}

.home-container button {
  width: 150px;
  height: 50px;
  background-color: #6d28d9;
  border: none;
  border-radius: 25px;
  color: white;
  transition: 0.2s ease-in-out;
  padding: 1px;
  cursor: pointer;
}

.home-container button:hover {
  background-color: #7c3aed;
  box-shadow: #2d2684 0px 0px 10px;
  transform: scale(1.03);
}

.home-foto {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #6d28d9;
}

@media (max-width: 980px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 40px 20px;
  }
  
  .home-foto {
    margin-top: 30px;
    width: 220px;
    height: 220px;
  }
}